bleak==1.1.0
FindMyIP==1.2.0
joblib==1.2.0
matplotlib==3.7.1
numpy==1.24.2
opencv_contrib_python==4.11.0.86
paho_mqtt==2.1.0
pandas==2.0.0
Pillow==9.0.1
PyQt5==5.15.11
PyQt5_sip==12.15.0
pyrealsense2==2.53.1.4623
PyWavelets==1.4.1
Requests==2.32.5
scipy==1.11.4
tensorflow==2.14.0
tensorflow_hub==0.16.1
websockets==13.1
